.card-image {
    margin: 0 auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.card-image.orientationkit {
    background-color: #f6c253;
}
.card-image.campuskit {
    background-color: #6bbe96;
}
.card-image.attendancekit {
    background-color: #6b7bbe;
}
.card-image.retainai {
    background-color: #41c3f1;
}

.p {
    color: rgba(0, 0, 0, 0.3);
}

.a {
    margin: 2ex;
    background-color: aqua;
}

